/* latin-ext */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v11/yQiAaD56cjx1AooMTSghGfY6323mHUZFJMgTvxaG2iE.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v11/0dTEPzkLWceF7z0koJaX1A.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* sampled usage */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/stats/Raleway/normal/400);
  unicode-range: U+20;
}
/* latin-ext */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  src: local('Raleway SemiBold'), local('Raleway-SemiBold'), url(https://fonts.gstatic.com/s/raleway/v11/STBOO2waD2LpX45SXYjQBSEAvth_LlrfE80CYdSH47w.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  src: local('Raleway SemiBold'), local('Raleway-SemiBold'), url(https://fonts.gstatic.com/s/raleway/v11/xkvoNo9fC8O2RDydKj12b_k_vArhqVIZ0nv9q090hN8.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/*@media (min-width: 1201px){
  .container{width:1504px}
}*/
.row {
    margin-left: -64px;
    margin-right: -64px;
}

body > div.row.site-body > div > div > div.col-md-9 > div.row > div a:hover, a:focus{
  /*color: #0d1117;*/
}
.img-overflow {
    margin-left: 0px;
}
.site-footer {
    margin-top: 50px;
}
.category__header{
  width:100%;
  overflow:hidden;
  margin-bottom:30px;
  display:-webkit-box;
  display:-moz-box;
  display:box;
  display:-moz-flex;
  display:-ms-flexbox;
  display:flex;
  box-align:baseline;
  -moz-align-items:baseline;
  -ms-align-items:baseline;
  -o-align-items:baseline;
  align-items:baseline;
  -ms-flex-align:baseline}
.category__header:after{
content:"";
box-ordinal-group:1;
-moz-order:1;
order:1;
-ms-flex-order:1;
-moz-flex-grow:1;
flex-grow:1;
-ms-flex-positive:1;
height:2px;
background-color:#e8e8e8;
margin-left:10px;
margin-right:10px}
.category__header .category__title{
  box-ordinal-group:1;
  -moz-order:1;
  order:1;
  -ms-flex-order:1;
  -webkit-order:1;
  margin-bottom:0;
  font-weight:700;
  letter-spacing:-.02em;
  color:#f4645f}

.category__header .category__link{
  box-ordinal-group:3;
  -moz-order:3;
  order:3;
  -ms-flex-order:3;
  font-size:.8125rem;
  font-weight:600}
