<template>
	<div class="wrap">
		<a :href="threadUrl">
			{{ unread.data.user.name }} Commented On {{ unread.data.post.title }}
		</a>
	</div>
</template>

<script>
	export default{
		props:['unreads','userid'],
		data(){
            return {
                threadUrl:""
                
            }
        },
		mounted(){
            this.threadUrl = "/posts/" + this.unread.data.post.title
        }
	}
</script>