<template>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> 
            <span class="fa fa-bell fa-lg" style="margin-top: 8px"><span class="badge">{{ unreadNotifications.length }}</span></span>
        </a>

        <ul class="dropdown-menu" role="menu">
                
            <li>
               <!-- <notification-item v-for="unread in unreadNotifications" :unread="unread"> </notification-item> -->
                
            </li>
        </ul>
    </li>
</template>
<script>
    //import Notificationitem from './Notificationitem.vue';
    export default {
        props:['unreads','userid'],
      //  components:{Notificationitem},
        data(){
            return {
                unreadNotifications: this.unreads
                
            }
        },
        mounted(){
            Echo.private('App.User.' + this.userid)
                .notification((notification) => {
                console.log(notification);
                let newUnreadNotifications = { data: {post:notification.post,user:notification.user}};
                this.unreadNotifications.push(newUnreadNotifications);
            });
        }
    }

</script>